*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #181818;
    color: #eae2ea;
}
.title{
    margin: auto;
    position: relative;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #eae2ea;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.navbar ul{
    display: flex;
    width: 75%;
    justify-content: flex-end;
}
.navbar ul li{
    list-style: none;
    padding: 0 25px;
}
.navbar ul li a{
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: 2px solid #181818;
    font-size: 16px;
    line-height: 30px;
    transition: all .3s ease-in;
}
.navbar a.active{
    color: #f30000;
    border-bottom: 2px solid #f30000; 
}
.navbar ul li a:hover{
    color: #f30000;
    border-bottom: 2px solid #f30000; 
}

.int-propos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35px;
    margin-top: 100px;
}
.int-propos .int{
    width: 50%;
}
.int-propos .int h1{
    font-size: 35px;
    line-height: 72px;
    text-transform: uppercase;
    color: #f30000;
}
.histo{
    margin-top: 50px;
}
.int-propos .int p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 15px;
}

